

* {
	background-color: #081f2e;
	color: #f5edbc;
	font-family: 'Raleway', sans-serif;
}


#title {
	font-weight: 900;
	background-color: #05113b;
	font-size: 100px;
	margin-left: 2px;
	margin-right: 44%;
	margin-bottom: 0px;
}

#quote {
	font-family: 'roboto slab', serif;
	color: black;
	background-color: white;	
	font-size: 40px;
	margin-left: 20%;
   margin-right: 20%;
}

h6 {
	background-color: #05113b;
   margin-left: 2px;
	margin-right: 90%;
	font-size: 20px;
	margin-top: 5px;
	display: inline-block;
}

.intro {
	background-color: #05113b;
	margin-right: 40%;
}

p.intro {
	font-size: 20px;
}

